/* ===========================
PORTFOLIO MODAL
=========================== */

.modal{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.75);

display:flex;

justify-content:center;

align-items:center;

z-index:99999;

}

.hidden{

display:none;

}

.modal-content{

width:90%;

max-width:900px;

background:#1b233d;

border:1px solid #334155;

border-radius:20px;

padding:32px;

box-sizing:border-box;

animation:popup .25s ease;

}

@keyframes popup{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.close-btn{

float:right;

font-size:30px;

font-weight:bold;

cursor:pointer;

color:white;

}

.close-btn:hover{

opacity:.7;

}

#portfolioInput{

width:100%;

min-height:220px;

padding:18px;

margin-top:20px;

border-radius:14px;

border:1px solid rgba(255,255,255,.10);

background:#111827;

color:white;

font-size:15px;

resize:vertical;

box-sizing:border-box;

outline:none;

}

#portfolioInput:focus{

border-color:#3b82f6;

}

#portfolioBtn{

margin-top:20px;

width:100%;

padding:16px;

font-size:16px;

}
